{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acadamic Portal|Home</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <nav class="uk-navbar-container uk-navbar uk-margin-remove" style="background-color:#050A21;">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="../media/image/891625036-612x612.jpg" alt="" style="height:50px; width:50px; border-radius:50%;">
        <h3 style="margin-top:8%; color:#D2D4D9;">Acadamic Portal</h3>
      </a>
    <div class="uk-navbar-right" style="margin-right:3%;">
        <ul class="uk-navbar-nav">
            <li><a href="">Home</a></li>
            <li>
                <a href="/about/">About</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/heip/">Help</a></li>
        </ul>
    </div>
</nav>
                                                                <!-- Image Section -->

  <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../media/image/bg6.jpg" uk-img style="height:580px;">
    <div class="uk-inline uk-margin">
        <h1 class="" style=""></h1>
    </div>
    <div class="uk-inline uk-margin">
      <a href="/signup/">
          <button class="uk-button uk-button-default uk-margin-large-top uk-flex-middle">GET STARTED</button>
      </a>

    </div>
  </div>



                                                                <!-- Footer -->
              <!-- <div class="uk-section uk-section-secondary">
       <div class="uk-container">
           <div class="uk-grid-match uk-child-width-1-3@m uk-column-divider" uk-grid>
               <div class="uk-column-divider">
                   <img src="image/891625036-612x612.jpg" alt="FooterImage" style=" border-radius:50%; margin-left:4%;">
               </div>
               <div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
               </div>
               <div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
               </div>
           </div>
       </div> -->
   </div>
  </body>
</html>
