{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#  <h2>Sign up</h2>#}
{#  <form method="post">#}
{#      {% csrf_token %}#}
      {#    <input type="hidden" name="csrfmiddlewaretoken" value="VVmRpMFz1bfUPWaw5KLqKAgYvy3CeSnS9gsQTfHEtnBUZetqYLj23vl4AYWWr1b3">#}
{##}
{#      <p>#}
{#        <label for="id_username"> Username:</label><br>#}
{#        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">#}
{##}
{#          <small style="color: grey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>#}
{##}
{##}
{#      </p>#}
{##}
{#      <p>#}
{#        <label for="id_email">Email:</label><br>#}
{#        <input type="email" name="email" maxlength="254" required="" id="id_email">#}
{##}
{#          <small style="color: grey">Required. Inform a valid email address.</small>#}
{##}
{##}
{#      </p>#}
{##}
{#      <p>#}
{#        <label for="id_password1">Password:</label><br>#}
{#        <input type="password" name="password1" required="" id="id_password1">#}
{##}
{#          <small style="color: grey">&lt;ul&gt;&lt;li&gt;Your password can&amp;#39;t be too similar to your other personal information.&lt;/li&gt;&lt;li&gt;Your password must contain at least 8 characters.&lt;/li&gt;&lt;li&gt;Your password can&amp;#39;t be a commonly used password.&lt;/li&gt;&lt;li&gt;Your password can&amp;#39;t be entirely numeric.&lt;/li&gt;&lt;/ul&gt;</small>#}
{##}
{##}
{#      </p>#}
{##}
{#      <p>#}
{#        <label for="id_password2">Password confirmation:</label><br>#}
{#        <input type="password" name="password2" required="" id="id_password2">#}
{##}
{#          <small style="color: grey">Enter the same password as before, for verification.</small>#}
{##}
{##}
{#      </p>#}
{##}
{#    <button type="submit">Sign up</button>#}
{#  </form>#}
{##}
{#{% endblock %}#}



{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}