<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Acadamic Portal|SignUp</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar style="background-color:#050A21;">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="../media/image/891625036-612x612.jpg" alt="" style="height:50px; width:50px; border-radius:50%;">
        <h3 style="margin-top:8%; color:#D2D4D9;">Acadamic Portal</h3>
      </a>
    <div class="uk-navbar-right" style="margin-right:3%;">
        <ul class="uk-navbar-nav">
            <li><a href="#">Home</a></li>
            <li>
                <a href="#">About</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</nav>
                                                  <!-- Login -->
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-container-large">
         <div class="uk-card uk-card-secondary uk-width-1-2@m uk-align-center uk-card-hover uk-card-body uk-card-large uk-light" style="">
            <h2 class="uk-card-title" style="text-align:center;">SignUp Here</h2>

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <fieldset class="uk-fieldset">
                 <legend class="uk-legend">{{ field.label_tag }}</legend>
                    <div class="uk-margin">
                      <div class="uk-inline uk-width-1-1">
                         <span class="uk-form-icon" uk-icon="icon: user"></span>
                           <p class="uk-input">{{ field }}</p>
                      </div>
                    </div>
      </fieldset>

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}

         </div>
    </div>
</div>
  </body>
</html>